.success {
    color: green;
    background: #d4edda;
    font-size: 20px;
    border: 2px solid green;
    padding: 10px;
    margin-bottom: 15px;
}

.error {
    color: red;
    background: #f8d7da;
    font-size: 20px;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 15px;
}
